- issue = local_assigns.fetch(:issue)

- if issue.weight
  %span.issuable-weight.gl-hidden.gl-mr-2.has-tooltip{ class: "@sm/panel:gl-inline-block", data: { container: 'body', testid: 'weight' }, title: _('Weight') }
    &nbsp;
    = sprite_icon('weight', css_class: 'issue-weight-icon')
    = issue.weight
