- title_text = s_('UsageBilling|Usage Billing')
- page_title title_text
- breadcrumb_title title_text
- add_to_breadcrumbs(_('GitLab Duo'), admin_gitlab_duo_path)

#js-instance-usage-billing-dashboard{ data: { user_usage_path: admin_gitlab_duo_usage_user_path(':username') } }
