= render Users::GroupDismissibleAlertComponent.new(alert_options: { data: { testid: 'unlimited-members-during-trial-alert' } },
  dismiss_options: { user: user, group: namespace, feature_id: 'unlimited_members_during_trial_alert' },
  wrapper_options: { class: wrapper_class },
  title: s_('UnlimitedMembersDuringTrialAlert|Get the most out of your trial with space for more members'),
  close_button_options: { data: { testid: 'hide-unlimited-members-during-trial-alert' } }) do |c|
  - c.with_body do
    = body_text
  - c.with_actions do
    = primary_cta
    = secondary_cta
