- add_to_breadcrumbs s_('VirtualRegistry|Virtual registry'), group_virtual_registries_path(@group)
-# initial page title, will be overwritten by vue app
- page_title s_('VirtualRegistry|Virtual registry')

#js-vue-container-virtual-registries{ data: container_template_data(@group) }
