- return unless @group.licensed_ai_features_available?

- link = link_to('', help_page_path('user/ai_features.md'), target: '_blank', rel: 'noopener noreferrer')
- duo_features_enabled_locked = cascading_namespace_setting_locked?(:duo_features_enabled, @group)

%h5
  = _('GitLab Duo features')

.form-group.gl-mb-3
  = render 'shared/namespaces/cascading_settings/setting_checkbox', attribute: :duo_features_enabled,
      checked: @group.namespace_settings.duo_features_enabled,
      group: @group,
      form: f,
      setting_locked: duo_features_enabled_locked,
      settings_path_helper: ->(locked_ancestor) { edit_group_path(locked_ancestor, anchor: 'js-permissions-settings') },
      help_text: safe_format(s_('GroupSettings|Enable GitLab Duo features for this group. %{link_start}Learn more%{link_end}.'), tag_pair(link, :link_start, :link_end)) do
    %div
      = s_('GroupSettings|Use GitLab Duo features')
  .gl-ml-6.gl-mt-2
    = render 'shared/namespaces/cascading_settings/enforcement_checkbox',
        attribute: :duo_features_enabled,
        group: @group,
        form: f,
        setting_locked: duo_features_enabled_locked
