- return unless group.experiment_settings_allowed? && ::Feature.enabled?(:early_access_program_toggle, current_user)

- early_access_program_link_start = '<a href="https://about.gitlab.com/community/early-access/" target="_blank" rel="noopener noreferrer">'.html_safe

%h5
  = _('GitLab Duo experiment and beta features')

.form-group.gl-mb-3
  .gl-ml-6.gl-mt-2
    = f.gitlab_ui_checkbox_component :early_access_program_participant,
      s_('GroupSettings|Participate in the %{link_start}GitLab Early Access Program%{link_end}.').html_safe % { link_start: early_access_program_link_start, link_end: '</a>'.html_safe },
      checkbox_options: { data: { testid: 'use-early-access-program-checkbox' } }
