- return unless Feature.enabled?(:group_secrets_manager, @group) && @group.licensed_feature_available?(:native_secrets_management)

.js-group-secrets-manager-settings{ data: { can_manage_secrets_manager: can?(current_user, :admin_group, @group).to_s, full_path: @group.full_path } }
