- help_link = link_to(sprite_icon('question-o'), help_page_path('development/ai_features/composite_identity.md'), target: '_blank', rel: 'noopener noreferrer')

.form-group
  = form.fields_for :ci_cd_settings_attributes, @project.ci_cd_settings do |f|
    = f.gitlab_ui_checkbox_component :allow_composite_identities_to_run_pipelines,
      s_("CICD|Allow composite identities to run pipelines"),
      help_text: (s_('CICD|Controls whether AI agents can automatically run pipelines. When disabled, pipelines triggered by AI agents will require manual review and execution by a human user.') + ' ' + help_link).html_safe
