- if Feature.enabled?(:ci_tanukey_ui, @project) && can?(current_user, :developer_access, @project)
  - expand_secrets = expanded || params[:expand_secrets]
  = render ::Layouts::SettingsBlockComponent.new(_("Secrets"),
    id: 'js-secrets-settings',
    expanded: expand_secrets) do |c|
    - c.with_heading do
      .gl-flex.gl-items-center.gl-gap-3
        = _("Secrets")
        = gl_badge_tag _("Experiment")
    - c.with_description do
      = _("Secrets represent sensitive information your CI job needs to complete work.")
    - c.with_body do
      #js-project-secrets-manager{ data: project_secrets_app_data(@project) }
