= s_('DuoEnterprise|You have been assigned a GitLab Duo Enterprise seat!')

= s_('DuoEnterprise|You now have access to GitLab Duo Enterprise, the only AI solution that supports developers at every stage of the software development lifecycle.')

= _('Go to GitLab, visit %{login_url}.') % {login_url: new_session_url(:user)}
