- add_to_breadcrumbs s_('AdminSelfHostedModels|Self-hosted models'), admin_labels_path
- breadcrumb_title s_('AdminSelfHostedModels|Edit self-hosted model')
#js-edit-self-hosted-model{ data: { view_model: { model: @self_hosted_model, modelOptions: model_choices_as_options, basePath: admin_ai_self_hosted_models_path }.to_json(methods: [:api_token]) } }
