- page_title s_("AdminSelfHostedModels|Self-hosted models")
#js-self-hosted-models{ data: { base_path: admin_ai_self_hosted_models_path, new_self_hosted_model_path: new_admin_ai_self_hosted_model_path } }
