- page_title s_("AdminSelfHostedModels|Self-hosted models")
#js-self-hosted-models{ data: { view_model: { basePath: admin_ai_self_hosted_models_path, modelOptions: model_choices_as_options, betaModelsEnabled: beta_models_enabled?, duoConfigurationSettingsPath: admin_gitlab_duo_configuration_index_url }.to_json } }
