- page_title s_('AdminSelfHostedModels|Add self-hosted models')
#js-new-self-hosted-model{ data: { view_model: { basePath: admin_ai_self_hosted_models_path, modelOptions: model_choices_as_options }.to_json } }
