- add_to_breadcrumbs s_('AdminSelfHostedModels|Self-hosted models'), admin_ai_self_hosted_models_path
- page_title s_('AdminSelfHostedModels|Add self-hosted model')
#js-new-self-hosted-model{ data: { view_model: { basePath: admin_ai_self_hosted_models_path, modelOptions: model_choices_as_options }.to_json } }
