-# EE:Self Managed
- seat_utilization_text = s_('UsageQuota|Seat utilization')
- page_title seat_utilization_text
- breadcrumb_title seat_utilization_text
- duo_pro_url = add_duo_pro_seats_url(@subscription_name)

#js-code-suggestions-page{ data: { add_duo_pro_seats_url: duo_pro_url, subscription_name: @subscription_name, is_bulk_add_on_assignment_enabled: duo_pro_bulk_user_assignment_available?.to_s, subscription_start_date: @subscription_start_date, subscription_end_date: @subscription_end_date } }
