- title = _('Analytics settings')
- breadcrumb_title title
- page_title title
- add_page_specific_style 'page_bundles/projects_edit'
- expanded = expanded_by_default?

%h1.gl-sr-only= page_title

= render_if_exists 'projects/settings/analytics/custom_dashboard_projects', expanded: expanded
= render_if_exists 'projects/settings/analytics/data_sources', expanded: expanded
