- group_managed_account = @user.group_managed_account?
- password_authentication_disabled_by_enterprise_group = @user.password_authentication_disabled_by_enterprise_group?

= render_ce 'user_settings/profiles/email_settings', form: form, email_change_disabled: group_managed_account, password_authentication_disabled_by_enterprise_group: password_authentication_disabled_by_enterprise_group
