- breadcrumb_title _("Security and compliance")
- page_title _("Security and compliance")
- add_page_specific_style 'page_bundles/settings'
- @force_desktop_expanded_sidebar = true
- @hide_search_settings = true

.settings-section{ data: { testid: 'admin-license-compliance-settings' } }
  .settings-sticky-header
    .settings-sticky-header-inner
      %h2.gl-heading-2{ class: '!gl-mb-2' }
        = _('License Compliance')
  = render 'license_compliance'

- if License.feature_available?(:pre_receive_secret_detection)
  .settings-section{ data: { testid: 'admin-secret-detection-settings' } }
    .settings-sticky-header
      .settings-sticky-header-inner
        %h2.gl-heading-2{ class: '!gl-mb-2' }
          = _('Secret Detection')
    = render 'pre_receive_secret_detection'
