- breadcrumb_title s_('WorkItem|Work item settings')
- page_title s_('WorkItem|Work item settings')
- add_page_specific_style 'page_bundles/settings'
- @force_desktop_expanded_sidebar = true

%h2.gl-heading-2.gl-mt-2= _('Work item settings')
