- breadcrumb_title s_('WorkItem|Work item settings')
- page_title s_('WorkItem|Work item settings')
- add_page_specific_style 'page_bundles/settings'
- @force_desktop_expanded_sidebar = true
- @hide_search_settings = true

#js-admin-work-item-settings{ data: { base_path: work_item_admin_application_settings_path } }
