-# EE:Self Managed
- gitlab_duo_text = _('GitLab Duo')
- page_title gitlab_duo_text
- breadcrumb_title gitlab_duo_text
- duo_pro_url = add_duo_pro_seats_url(@subscription_name)

#js-gitlab-duo-admin-page{ data: { duo_seat_utilization_path: admin_gitlab_duo_seat_utilization_index_path, add_duo_pro_seats_url: duo_pro_url, subscription_name: @subscription_name, is_bulk_add_on_assignment_enabled: 'true', subscription_start_date: @subscription_start_date, subscription_end_date: @subscription_end_date } }
