- page_title s_('AICatalog|AI Catalog')
- show_legal_disclaimer = ::Gitlab::Saas.feature_available?(:gitlab_com_subscriptions)

#js-ai-catalog{ data: { ai_catalog_index_path: explore_ai_catalog_path, ai_impact_dashboard_enabled: ProductAnalyticsHelpers.ai_impact_dashboard_globally_available?.to_s, show_legal_disclaimer: show_legal_disclaimer.to_s } }
