- add_page_specific_style 'page_bundles/work_item_settings'
- title = s_("WorkItem|Issues settings")
- request_path_params = request.path_parameters.values.last

- if request_path_params === 'lifecycle/issue' || request_path_params === 'lifecycle/task'
  - add_to_breadcrumbs title, group_settings_issues_path(@group)
  - breadcrumb_title sprintf(s_('WorkItem|Change lifecycle: %{workItemType}'), { workItemType: request_path_params.split("/").last.capitalize })
  - page_title s_("WorkItem|Change lifecycle"), @group.name, _("Groups")
- else
  - title = s_("WorkItem|Issues settings")
  - breadcrumb_title title
  - page_title title

#js-work-items-settings-form{ data: { full_path: @group.full_path, base_path: group_settings_issues_path(@group) } }
