- return unless render_default_duo_namespace_required_alert?

= render Pajamas::AlertComponent.new(variant: :danger, dismissible: false, title: s_('ModelSelection|Select default namespace for GitLab Duo'), alert_options: { class: 'gl-mt-6' }) do |c|
  - c.with_body do
    = s_('ModelSelection|Model Selection is enabled for GitLab Duo, which requires a default namespace to be set. You must select a default namespace in profile preferences to continue using GitLab Duo features.')
  - c.with_actions do
    = link_button_to s_('ModelSelection|Update profile preferences'), profile_preferences_path(anchor: 'behavior'), variant: :confirm, class: 'gl-mr-3'
    = link_button_to _('Learn more'), help_page_path('user/profile/preferences.md', anchor: 'set-a-default-gitlab-duo-namespace'), category: :secondary, target: '_blank', rel: 'noopener noreferrer'
