- project = project || @project
- ref = local_assigns.fetch(:ref) || ''
- archive_prefix = ref ? "#{project.path}-#{ref.tr('/', '-')}" : ''

- if can?(current_user, :download_code, @project)
  .git-clone-holder.js-git-clone-holder
    #js-code-dropdown{ data: {
      ssh_url: ssh_enabled? ? ssh_clone_url_to_repo(@project) : '',
      http_url: http_enabled? ? http_clone_url_to_repo(@project) : '',
      kerberos_url: alternative_kerberos_url? ? project.kerberos_url_to_repo : '',
      xcode_url: show_xcode_link?(@project) ? xcode_uri_to_repo(@project) : '',
      directory_download_links: directory_download_links(project, ref, archive_prefix).to_json,
      project_id: @project.id,
      project_path: @project.full_path,
      new_workspace_path: new_remote_development_workspace_path
    } }
