- page_title s_('AdminSelfHostedModels|Self-hosted models')

.gl-flex.gl-flex-col.gl-items-center
  = render Pajamas::EmptyStateComponent.new(svg_path: 'illustrations/empty-state/empty-environment-md',
    title: s_('AdminSelfHostedModels|Get started with self-hosted models')) do |c|
    - c.with_description do
      - self_hosted_models_link_url = help_page_path('administration/self_hosted_models/install_infrastructure.md')
      - gitlab_testing_agreement_url = 'https://about.gitlab.com/handbook/legal/testing-agreement/'
      - self_hosted_models_link = link_to('', self_hosted_models_link_url, target: '_blank', rel: 'noopener noreferrer')
      - gitlab_testing_agreement_link = link_to('', gitlab_testing_agreement_url, target: '_blank', rel: 'noopener noreferrer')

      = safe_format(s_('AdminSelfHostedModels|Configure GitLab Duo by adding and managing your own %{self_hosted_models_link_start}self-hosted models%{self_hosted_models_link_end}. To get started, you must first accept the %{gitlab_testing_agreement_link_start}GitLab Testing Agreement%{gitlab_testing_agreement_link_end}.'),
        tag_pair(self_hosted_models_link, :self_hosted_models_link_start, :self_hosted_models_link_end),
        tag_pair(gitlab_testing_agreement_link, :gitlab_testing_agreement_link_start, :gitlab_testing_agreement_link_end))
  = render Pajamas::ButtonComponent.new(variant: :confirm, href: admin_ai_terms_and_conditions_url, method: :post) do
    = s_('AdminSelfHostedModels|Accept GitLab Testing Agreement')
