- project = local_assigns.fetch(:project)
- if show_compliance_frameworks_info?(project) & can?(current_user, :read_compliance_adherence_report, project)
  #js-compliance-info{ data: {project_path: project.full_path, compliance_center_path: compliance_center_path(project) } }
