- return unless group && show_foundational_items_available?(group: group)
- manage_duo_settings_path = group.duo_settings_path
- return if request.path == manage_duo_settings_path.split('#').first

- content_for :after_flash_content do
  = render Users::GroupDismissibleBannerComponent.new(variant: :introduction,
    button_text: s_('AICatalog|Configure'),
    button_link: manage_duo_settings_path,
    svg_path: 'illustrations/empty-state/empty-ai-catalog-md.svg',
    dismiss_options: { user: current_user,
                       group: group,
                       feature_id: ::EE::Users::CalloutsHelper::FOUNDATIONAL_ITEMS_AVAILABLE },
    wrapper_options: { class: 'gl-mt-5' }) do |c|
    - c.with_title do
      = s_('AICatalog|New foundational agents and flows now available')
    %p
      = s_("AICatalog|Foundational agents and flows are built, tested, and supported by GitLab, and can help accelerate your productivity. Get started by configuring them now.")
