- title_text = s_('UsageBilling|Usage Billing')
- page_title title_text
- breadcrumb_title title_text
- add_to_breadcrumbs(_('GitLab Duo'), group_settings_gitlab_duo_path(@group))

#js-group-usage-billing-dashboard{ data: {
  user_usage_path: group_settings_gitlab_duo_usage_user_path(@group, ':username'),
  namespace_path: @group.full_path
 } }
