.gl-max-w-6xl.gl-mx-auto{ data: { track_action: 'render' } }
  #js-targeted-message-banner{ "data-provide": { namespaceFullPath: namespace.full_path }.to_json }
  #js-free-trial-plan-billing{ "data-view-model": free_trial_plan_billing_attributes(namespace, plans_data).to_json }

.gl-mt-8.gl-text-center
  .gl-text-lg.gl-mb-5
    = s_("BillingPlans|Trusted by")
  .gl-flex.gl-gap-5.gl-mb-5.gl-justify-center.gl-items-center.gl-flex-wrap
    - logo_classes = 'dark:gl-invert'

    - trusted_by_logos.each do |logo|
      = image_tag(logo[:path], alt: logo[:name], title: logo[:name], class: logo[:no_invert] ? "" : logo_classes)
  = render GitlabSubscriptions::ExpertContactComponent.new
