- show_to_user = ::Gitlab::Llm::TanukiBot.show_duo_entry_point?(user: current_user)
- show_to_free_user = current_user && ::Feature.enabled?(:dap_onboarding_empty_states, current_user) && !::Gitlab::CurrentSettings.duo_never_on?
- return unless show_to_user || show_to_free_user

.paneled-view.ai-panels.-gl-mb-3.lg:gl-mb-0
  - if show_to_user
    - duo_scope_hash = ::Gitlab::Llm::TanukiBot.duo_scope_hash(current_user, @project, @group, controller_name)
    - project = duo_scope_hash[:project]
    - group = duo_scope_hash[:namespace]
    #duo-chat-panel.duo-chat-panel{ data: duo_chat_panel_data(current_user, project, group) }
  - else
    #duo-chat-panel-empty-state.duo-chat-panel{ data: duo_chat_panel_empty_state_data(source: @project || @group) }
