- legal_disclaimer = ::Gitlab::Saas.feature_available?(:gitlab_com_subscriptions) && s_("CiCatalog|This catalog contains third-party content. Use of this content is subject to the relevant content provider's terms of use. GitLab does not control and has no liability for third-party content.")

= render_ce 'explore/catalog/ci_cd_catalog', legal_disclaimer: legal_disclaimer
