- title_text = s_('UsageBilling|GitLab Credits dashboard')
- page_title title_text
- breadcrumb_title title_text

#js-instance-usage-billing-dashboard{ data: { user_usage_path: admin_gitlab_credits_dashboard_user_path(':username') } }
