- breadcrumb_title _('Data management')
- page_title _('Data management')

#js-admin-data-management{ data: { model_types: model_types.to_json,
  initial_model_name: ::Gitlab::Geo::ModelMapper.convert_to_name(@model_class)} }
