- add_to_breadcrumbs s_('VirtualRegistry|Virtual registries'), group_virtual_registries_path(@group)
- title = s_('VirtualRegistry|Maven virtual registries')
- breadcrumb_title s_('VirtualRegistry|Maven')
- page_title title

= render ::Layouts::PageHeadingComponent.new(title)
