- feature = feature_setting.feature

%li.list-item{ id: feature }
  .label-content
    .label-name.gl-shrink-0.gl-mr-5
      = feature == "duo_chat" ? feature.titleize : feature.humanize.singularize
    .label-description.gl-w-full
      .gl-flex-wrap
        .gl-mr-5
          = feature_setting.provider_title
    = render Pajamas::ButtonComponent.new(href: edit_admin_ai_feature_setting_path(feature)) do
      = _('Edit')
