- feature = @feature_setting.feature
- edit_feature_title = s_("AdminAiPoweredFeatures|%{feature_name}") % { feature_name: feature.humanize.singularize }
- add_to_breadcrumbs s_("AdminAiPoweredFeatures|AI-powered features"), admin_ai_feature_settings_path
- breadcrumb_title edit_feature_title
- page_title edit_feature_title
%h2
  = edit_feature_title
%hr
- url = @feature_setting.persisted? ? admin_ai_feature_setting_path(@feature_setting) : admin_ai_feature_settings_path

= render 'form', url: url, back_path: admin_ai_feature_settings_path, feature: feature
