- page_title s_("AdminAIPoweredFeatures|AI-powered features")
- add_page_specific_style 'page_bundles/labels'

- if Feature.enabled?(:custom_models_feature_settings_vue_app, current_user)
  #js-ai-powered-features{ data: { view_model: { models: @self_hosted_models, newSelfHostedModelPath: new_admin_ai_self_hosted_model_path }.to_json } }
- else
  = render ::Layouts::CrudComponent.new(s_('AdminAIPoweredFeatures|AI-powered features'),
    options: { class: 'gl-mt-5' }) do |c|
    - c.with_description do
      = s_('AdminAIPoweredFeatures|AI-powered features that can be enabled, disabled, or linked to a cloud-based or self-hosted model.')
    - c.with_body do
      %ul.content-list.manage-labels-list
        = render partial: 'feature_setting', collection: @feature_settings, as: :feature_setting
