= _('The dependency list was succesfully exported.')
= _('Follow the link below to download the export.')
= dependencies_export_download_url(@export)
= _('This link will expire in %{number} days.') % { number: @expiration_days }
