-# rubocop:disable Cop/ExperimentsTestCoverage - TODO: will add spec in next MR
- page_title _('Billing')
- add_page_specific_style 'page_bundles/billings'
- namespace = current_user.namespace
- current_plan = subscription_plan_info(@plans_data, namespace.actual_plan_name)
- data_attributes = subscription_plan_data_attributes(namespace, current_plan)
- @force_desktop_expanded_sidebar = true

- experiment(:user_billing_pricing_information, actor: current_user) do |e|
  - e.control do
    = render 'control_variant', namespace: namespace, current_plan: current_plan, data_attributes: data_attributes
  - e.candidate do
    = render 'candidate_variant', namespace: namespace, current_plan: current_plan, data_attributes: data_attributes
-# rubocop:enable Cop/ExperimentsTestCoverage
