- title_text = _('User')
- page_title title_text
- breadcrumb_title title_text
- add_to_breadcrumbs(_('GitLab Duo'), group_settings_gitlab_duo_path(@group))
- add_to_breadcrumbs(s_('UsageBilling|Usage Billing'), group_settings_gitlab_duo_usage_path(@group))

#js-group-user-usage-billing-dashboard{ data: { username: @username, namespace_path: @group.full_path } }
