- title_text = _('User')
- page_title title_text
- breadcrumb_title title_text
- add_to_breadcrumbs(_('GitLab Duo'), admin_gitlab_duo_path)
- add_to_breadcrumbs(s_('UsageBilling|Usage Billing'), admin_gitlab_duo_usage_path)

#js-instance-user-usage-billing-dashboard{ data: { user_id: @user_id } }
