.trial-discover-page-card.gl-grow.gl-pr-0.md:gl-pr-6.gl-py-4.gl-basis-full{ class: 'md:gl-basis-1/3' }
  = render Pajamas::CardComponent.new(card_options: { class: 'gl-rounded-lg' }) do |c|
    - c.with_body do
      .gl-mb-3
        = sprite_icon(item[:icon], css_class: "gl-text-blue-400")
      %h5.gl-mt-3
        = item[:title]
      .gl-h-13
        = item[:description]
