<%=  _('The dependency list export for %{exportable_name} has been completed.') % { exportable_name: @exportable_name } %>
<%=  _('Follow the link below to download the export.') %>
<%= dependencies_export_download_url(@export) %>
