%fieldset.form-group.gl-form-group
  %h5= s_('ProjectSettings|Merge checks')
  %p.gl-text-subtle= s_('ProjectSettings|These checks must pass before merge requests can be merged. Subgroups and projects cannot override these settings.')
  .js-merge-request-merge-checks{ data: merge_checks(@group) }
