- return unless onboarding_status.show_joining_project?

.row
  .form-group.col-sm-12
    = label_tag :joining_project, _('What would you like to do?'), class: 'label-bold'
    .gl-mb-2
      = render Pajamas::RadioTagComponent.new(name: :joining_project,
          label: _('Create a new project'),
          help_text: _('Create a new project on GitLab. Store your files, plan your work, and collaborate on code.'),
          value: false,
          radio_options: { required: true, class: 'js-track-error', data: { track_action_for_errors: 'welcome_form' } },
          label_options: { data: { testid: 'create-a-new-project-radio' } })
    %div
      = render Pajamas::RadioTagComponent.new(name: :joining_project,
          label: _('Join a project'),
          help_text: _('Join your team on GitLab and contribute to an existing project.'),
          value: true,
          radio_options: { required: true })
