- return unless onboarding_status.show_opt_in_to_email?

.gl-mb-3.js-opt-in-to-email.hidden
  .gl-font-bold.gl-mb-3
    = _('Email updates (optional)')
  = f.gitlab_ui_checkbox_component :onboarding_status_email_opt_in, _("I'd like to receive updates about GitLab via email")
