= image_tag 'marketing/free-trial-team-members.png', alt: s_('InProductMarketing|Team members collaborating'), title: s_('InProductMarketing|Team members collaborating'), width: 210, height: 90, class: 'gl-mb-3'
.gl-text-size-h1.gl-font-bold.gl-leading-24.gl-mb-5
  = s_("BillingPlans|Have a question? We're here to help.")
.js-hand-raise-lead-trigger{ data: hand_raise_lead_data }
